@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: 0.3s;
  font-family: raleway;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}


body::-webkit-scrollbar{
  width: 4px;
}

body::-webkit-scrollbar-track{
  background: transparent;
}

body::-webkit-scrollbar-thumb{
  background: rgb(0, 162, 255);
  border-radius: 10px;
}
